@import 'tailwindcss';


body{
  background-color: black;
  color: white;
  padding-bottom: 1000px;
}
@theme{
  --color-green: #9DFF3A;
  --font-alex: 'Alexandria', sans-serif;
  --font-inter: 'Inter', sans-serif;
  --color-gray: #0F0F0F;
}

@layer base{
  h1{
    @apply text-[64px] font-bold font-alex text-start;
  }
  p{
    @apply font-alex
  }
  button{
    @apply bg-green text-black rounded-[40px] px-6 py-2 hover:cursor-pointer font-alex;
  }
}


